.content{
	width: 100%;
}
.lg{
	width: 80%;
	margin-left: 10%;
	border-bottom: rgb(35,199,126) 2upx solid;
	margin-top: 80upx;
	padding-bottom:20upx ;
	margin-bottom: 23upx;
}
.photel{
	margin-top: -48upx;
	padding-left: 10upx;
	margin-left: 26%;
	font-size: 34upx;
}
.yzm{
	width: 80%;
	margin-left: 10%;
	border-bottom: rgb(35,199,126) 2upx solid;
	margin-top: 80upx;
	padding-bottom:20upx ;
	margin-bottom: 23upx;
}
.yzm1{
	margin-top: -38upx;
	padding-left: 44upx;
	margin-left: 26%;
	font-size: 34upx;
}
.cxhq{
	color: rgb(35,199,126);
	float: right;
	font-size: 22upx;
	margin-top: -9%;
	margin-right: -8%;
}
.text{
	margin-left: 12%;
	font-size: 28upx;
	border-right:  #8F8F94 1upx solid;
	padding-right: 20upx ;
}
.yzmdlan{
	text-align: center;
}
.text5{
	font-size: 24upx;
	color: red;
}
.text4{
	font-size: 28upx;
	color: rgb(149,149,151);
	/* margin-left: 39%; */
}
.text1{
	font-size: 28upx;
	color: rgb(149,149,151);
	/* margin-left: 39%; */
}
.tbtlogo{
	width: 140upx;
	height: 140upx;
	border-radius: 71upx;
	margin-left: 39%;
	margin-top: 70upx;
}
.view1{
	width: 70%;
	height: 300upx;
	text-align: center;
	margin-top: 590upx;
	margin-left: 17%;
}
.text2{
	font-size: 27upx;
	color:rgb(79,189,139) ;
}
.view2{
	border-top: rgb(244,244,244) 1upx solid;
	width: 500upx;
	height: 140upx;
	margin-top: 30upx;
}
.qq{
	width: 100upx;
	height: 100upx;
	border:rgb(244,244,244) 1upx solid;
	border-radius: 51px;
	margin-top: 26upx;
	margin-left: -20upx;
}
.qqlogo{
	width: 50upx;
	height: 60upx;
	margin-top: 16upx;
}
.weixin{
	width: 100upx;
	height: 100upx;
	border:rgb(244,244,244) 1upx solid;
	border-radius: 51px;
	margin-left: 210upx;
	margin-top: -106upx;
}
.weixinlogo{
	width: 65upx;
	height: 55upx;
	margin-top: 20upx;

}
.weibo{
	width: 100upx;
	height: 100upx;
	border:rgb(244,244,244) 1upx solid;
	margin-left: 430upx;
	margin-top: -106upx;
	border-radius: 51px;
}
.weibologo{
	width: 60upx;
	height: 60upx;
	margin-top: 18upx;
}
.view3{
	font-size: 20upx;
	margin-top: -40upx;
	margin-left: 170upx;
}
.text3{
	color: rgb(204,204,204);
}
.text4{
	border-bottom:rgb(148,147,152) 1upx solid ;
	color: rgb(148,147,152);
	
}
