.head{
	margin-top: 50upx;
}
.headlogo{
	width: 110upx;
	height: 110upx;
	margin-left: 3%;
}
.headtext{
	float: right;
	font-size: 40upx;
	font-weight: bold;
	margin-right: 53%;
	margin-top: 3%;
}
.lingqutubi{
	float: right;
	width: 200upx;
	height: 60upx;
	margin-top: -13%;
	margin-right: 4%;
}
.head2{
	margin-top: 4%;
	padding-bottom: 10%;
	border-bottom: rgb(224,224,224) 20upx solid;
}
.sltext1{
	font-size: 37upx;
	margin-left: 8%;
}
.text1{
	font-size: 27upx;
	margin-right: 87%;
	float: right;
}
.sltext2{
	font-size: 37upx;
	margin-left: 24%;
}
.text2{
	font-size: 27upx;
	margin-right: 60%;
	margin-top: -5%;
	float: right;
}
.text3{
	font-size: 27upx;
	margin-right: -34%;
	margin-top: -5%;
	float: right;
}
.text4{
	font-size: 27upx;
	margin-right: -60%;
	margin-top: -5%;
	float: right;
}
.neirong{
	margin-top: 4%;
	border-bottom: rgb(224,224,224) 20upx solid;
	padding-bottom: 5%;
}
.neirong1{
	margin-top: 4%;
	border-bottom: rgb(224,224,224) 40upx solid;
	padding-bottom: 5%;
}
.myhome{
	font-size: 33upx;
	font-weight: bold;
	margin-left: 4%;
}
.ljxszsfw{
	width: 350upx;
	height: 90upx;
}
.ljxszsfw6{
	text-align: center;
}
.ljxszsfw61{
	margin-top: 1%;
	font-size: 25upx;
}
.n1{
	text-align: center;
	margin-top: 2%;
}
.yylf{
	font-size: 27upx;
	margin-left: 30upx;
	margin-right: 30upx;
}
.sg{
	font-size: 25upx;
	margin-top: -3upx;
	color: rgb(216,216,216);
}
.cygj{
	width: 70upx;
	height: 70upx;
	margin-left: 9%;
	margin-right: 6%;
	margin-top: 3%;
}
.text661{
	margin-left: 7.5%;
}.text662{
	margin-left: 11%;
}.text663{
	margin-left: 14%;
}.text664{
	margin-left: 16.1%;
}.text665{
	margin-left: 10.2%;
}.text666{
	margin-left: 14.5%;
}.text667{
	margin-left: 13%;
}.text668{
	margin-left: 15.7%;
}
.text441{
	margin-left: 7.5%;
}.text442{
	margin-left: 11%;
}
.text443{
	margin-left: 9.5%;
}
.text444{
	margin-left: 9%;
}
.text445{
	margin-left: 7.5%;
}
.text446{
	margin-left: 11%;
}

